// ul.nav
// ul.nav-child // todo kein unstyled kein small!

// li .current .active
// li .deeper .parent
// li .alias-parent-active
// li .divider

nav {
	z-index: 10000;
    font-weight: 300;
    border-right: 1px solid @gainsboro-light;

	ul.nav   {
		margin: 0;
		padding: 0;
        list-style-type: none;

        li {
			margin: 0;

			&.current, &.active {

			}

            &.deeper {

                a:after {
                    display: inline-block;
                    font-family: FontAwesome;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1em;
                    margin: 0 .5em;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    content: "\f107";
                }
			}

			a {
				color: @concrete-dark;
                display: block;
				padding: .5em 1em;
				border-bottom: 1px solid @gainsboro-light;

				&:hover {
					color: @concrete-darker;
					background: @clouds-dark;
					text-decoration: none;
				}

				&:focus, &:active {
					color: @whitesmoke;
					background: @concrete;
				}
			}
		}
	}

	ul.nav-child {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    ul > li:not( .deeper) > a:after {
        content: "" !important;
        margin: 0;
    }

    ul.nav li ul.nav-child {
        display: none;
    }

    ul.nav li:hover ul.nav-child {
        display: block;
        position: relative;
        
        li {

            a {
                background: @clouds;

                &:hover {
                    background: @concrete;
                }

                &:focus, &:active {
                    background: @concrete-darker;
                }
            }
        }
    }
}

// menu class suffixes
ul.nav {

    &.brand   {

        li, li:hover ul.nav-child li {

            &.current, &.active {

            }

            &.deeper, &.parent {

            }

            a {
                color: @concrete-dark;

                &:hover {
                    color: @whitesmoke;
                    background: @brand-color-lighter;
                }

                &:focus, &:active {
                    color: @smoke;
                    background: @brand-color;
                }
            }
        }
    }

    &.dark-brand   {

        li {

            &.current, &.active {

            }

            &.deeper, &.parent {

            }

            a {

                &:hover {
                    color: @smoke;
                    background: @brand-color-lighter;
                }

                &:focus, &:active {
                    color: @whitesmoke;
                    background: @brand-color;
                }
            }
        }
    }
}

@media screen and (min-width: 48em) {

    nav {

        // menu class suffix
        ul.nav.brand li:hover ul.nav-child {
            background: @smoke;
            border: 1px solid @concrete;
            .border-radius(@baseBorderRadius);

            li {

                a {
                    color: @concrete-dark;
                    background: @smoke;

                    &:hover {
                        color: @whitesmoke;
                        background: @brand-color-lighter;
                    }

                    &:focus, &:active {
                        color: @smoke;
                        background: @brand-color;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 48em) and (max-width: 79.9em) {

	nav {
		text-transform: uppercase;
		text-align: right;
        height: 4em !important;
        border-right: 0;
        border-bottom: 1px solid @gainsboro-light;

		ul.nav  {
			display: inline-block;
			zoom: 1;
			*display: inline;

			li {
				float: left;

                &.current, &.active {

                }

				&.deeper, &.parent {

                    a:after {
                        content: ""; // eh schon absoluter PLatzmangel
                        margin: 0;
                    }

				}

				a {
					padding: 1.5em 1em;
                    border-bottom: 0;
					height: 4em;
				}
			}
		}

		ul.nav li ul.nav-child {
			display: none;
		}

        ul.nav li:hover ul.nav-child {
            display: block;
            position: absolute;
            margin: -1em 0 0 1em;
            padding: .5em 0;
            z-index: 99999999;
            background: @smoke;
            border: 1px solid @concrete;
            .border-radius(@baseBorderRadius);

            li {
                float: inherit;
                text-align: left;

                a {
                    background: @clouds;
                    padding: 1em;
                    height: 3em;

                    &:hover {
                        background: @clouds-dark;
                    }

                    &:focus, &:active {
                        background: @concrete;
                    }
                }
            }
        }

        ul.nav li:hover:nth-child(2) ul.nav-child {
            width: 24em;

            li {
                width: 11.94em;
                float: left;
            }

        }

        ul.nav li:hover:last-child ul.nav-child {
            position: absolute;
            right: 1em;
            margin: -1em 0 0 0;
        }
	}
}

@media screen and (min-width: 80em) {

    nav ul.nav li:hover:nth-child(2) ul.nav-child {
        position: absolute;
        top: 9em;
        width: 24em;
        min-height: 4em;

        li {
            width: 11.94em;
            float: left;
        }

    }

    nav ul.nav li {

        &.deeper {
            height: 3em;

            a:after {
                content: "\f105";
            }
        }

        a {
            height: 3em;
            padding: .75em 1em;
        }
    }

    ul.nav li ul.nav-child {
        display: none;
    }

    ul.nav li:hover ul.nav-child {
        display: block;
        position: relative;
        left: 10em;
        top: 0;
        margin: -4em 0 0 0;
        padding: .5em 0;
        z-index: 99999999;
        background: @smoke;
        border: 1px solid @concrete;
        .border-radius(@baseBorderRadius);

        li {
            float: inherit;
            text-align: left;

            a {
                background: @clouds;
                height: 3em;
                padding: .75em 1em;
                border-bottom: 0;

                &:hover {
                    background: @clouds-dark;
                }

                &:focus, &:active {
                    background: @concrete;
                }
            }
        }
    }
}